
body{
    font-family:'Cardo', serif,'Montserrat', sans-serif,'Open Sans', sans-serif; 
}

h1 {
    text-align: center;
}

label{
    margin-left: 20px;
}
#search {
    margin-left: 10px;
}

button{
    background-color: #ffffff;
}

#displaycity{
    margin-left: 10px;
    margin-top: 15px;
}

.list-group-item:hover {
    background-color:#87e5f3;
} 

#cityweatherinfo{
    margin-top: 25px;
  padding-top: 20px;
    border-style: inset;
    border-color: #17a2b8;
}


#fivedays{
    
margin-top: 15px;
margin-bottom: 400px;

}


h6 {
    font-size: 15px;
    font-weight: bold;
}

.carddays{

    margin-bottom: 10px;
}
#sticky-footer{

    margin-top: 400px;
}

.green{
    background-color: green;
}

.yello{
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

#left {
    padding-left: 45px;
}